<% provide(:title, 'Home') %>

<% if current_user %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <% if @feed %>
              <% for activity in @feed %>
                  <p><%#= activity.user %></p>
                  <p><%= render activity %></p>
              <% end %>
          <% end %>
        </div>


        <div id="wrapper">
          <div id="sidebar-wrapper">
            <div class="well">
              <% for user in User.all %>
                  <% unless current_user==user %>
                      <strong><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></strong>
                      <div class="pull-right">
                      <% if @followed.include?(user) %>
                          <%= link_to 'unfollow', unfollow_user_path(user), :class => 'btn btn-default' %>
                      <% else %>
                          <%= link_to 'follow', follow_user_path(user), :class => 'btn btn-default' %>
                      <% end %>
                      </div>
                  <% end %>
              <% end %>

            </div>
          </div>
          <div id="page-content-wrapper">
            <div class="page-content">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <!-- content of page -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-large btn-primary' %>

<% end %>