<div class="well">
  <strong>Fitness</strong>
  <div class="pull-right"><%= fitness_activity.created_at %></div>

  <p>
    <strong>User:</strong>
    <%= link_to "#{fitness_activity.user.first_name} #{fitness_activity.user.last_name}", user_path(fitness_activity.user) %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= fitness_activity.note %>
    <% if fitness_activity.photo_content_type %>
      <div class="pull-right"><%= image_tag fitness_activity.photo %></div>
  <% end %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= fitness_activity.act_type %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= fitness_activity.distance %>
  </p>

  <p>
    <strong>Heart rate:</strong>
    <%= fitness_activity.heart_rate %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= fitness_activity.calories %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= fitness_activity.duration %>
  </p>
  <% if current_user==fitness_activity.user %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_fitness_activity_path(fitness_activity), :class => 'btn btn-default' %>
      <%= render partial: 'shared/destroy_act_btn', locals: {id: fitness_activity[:id]} %>
  <% end %>

</div>