<%= form_for(@strength_activity) do |f| %>
    <% if @strength_activity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@strength_activity.errors.count, "error") %> prohibited this strength_activity from being
            saved:</h2>

          <ul>
            <% @strength_activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :note %><br>
      <%= f.text_field :note %>
    </div>

    <div class="field">
      <%= f.label :photo %><br>
      <%= f.file_field :photo %>
    </div>

    <div class="field">
      <%= f.label :act_type %><br>
      <%= f.select :act_type, StrengthActivity::TYPES %>
    </div>
    <div class="field">
      <%= f.label :weight %><br>
      <%= f.text_field :weight %>
    </div>
    <div class="field">
      <%= f.label :sets %><br>
      <%= f.text_field :sets %>
    </div>
    <div class="field">
      <%= f.label :reps %><br>
      <%= f.text_field :reps %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
